.page-not-found-header .mainheading {
    font-size: 80px;
    font-weight: 700;
    color: #674735;
}

.page-not-found-header {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 20%;
    min-height: 50vh;
    padding: 200px 0 150px 0;
    position: relative;
}

.page-not-found-header .subheading {
    font-size: 40px;
    font-weight: 500;
    color: #674735;
}

.page-not-found-header .home-link {
    color: #EC4400;
    font-size: 20px;
    text-decoration: underline;
}

.page-not-found-header p {
    color: #757575;

}

@media screen and (min-width:576px) {
    .page-not-found-header {
        padding: 200px 0 100px 0;
        min-height: 40vh;

    }

    .page-not-found-header .mainheading {
        font-size: 85px;
    }

    .page-not-found-header .subheading {
        width: 80%;
    }

    .page-not-found-header p {
        font-size: 20px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-info a {
        font-size: 18px;
    }
}

@media screen and (min-width:1199px) {
    .page-not-found-header {
        min-height: 50vh;
    }
}


@media screen and (min-width:1599px) {
    .page-not-found-header .mainheading {
        font-size:150px;
    }

    .page-not-found-header {
        min-height: 90vh;
        padding: 150px 0 50px 0;
    }

    .page-not-found-header .subheading {
        font-size: 40px;
    }

    .page-not-found-header p {

        font-size: 28px;
    }

    .contact-info p {

        font-size: 24px;
    }

    .contact-info a {

        font-size: 24px;
    }
}